In [1]:
import pandas as pd

In [2]:
chipo = pd.read_csv(r"C:\\Users\\sdp19\\OneDrive\\Desktop\\chipotle.tsv", sep='\t')  #Step3

In [3]:
chipo.head(10) #Step4

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
print("Number of observation is:", len(chipo))   #Step5

Number of observation is: 4622

In [5]:
print("The number of column in the dataset is:", len(chipo.columns)) #Step6

The number of column in the dataset is: 5

In [6]:
print("Column names: ", chipo.columns.values)    #Step7

Column names:  ['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

In [7]:
chipo.index    #Step8

RangeIndex(start=0, stop=4622, step=1)

In [8]:
most_ordr_item = chipo.groupby(['item_name'])['item_name'].agg(['count']).sort_values(by='count', ascending=False).reset_index()

In [9]:
print("The most ordered item is:", most_ordr_item.loc[0][0])   #Step9

The most ordered item is: Chicken Bowl

In [10]:
most_ordr_item.loc[0]   #Step10

item_name    Chicken Bowl
count                 726
Name: 0, dtype: object

In [11]:
most_item_in_choice_desc = chipo.groupby(['choice_description'])['choice_description'].agg(['count']).sort_values(by='count', ascending=False).reset_index()

In [12]:
print("The most ordered item in the choice_description column:", most_item_in_choice_desc.loc[0]) #Step11

The most ordered item in the choice_description column: choice_description    [Diet Coke]
count                         134
Name: 0, dtype: object

In [13]:
print("Items were orderd in total:", most_ordr_item['count'].sum())  #Step12

Items were orderd in total: 4622

In [14]:
price_in_float = chipo.copy()
price_in_float['item_price']  = chipo['item_price'].str.replace("$","", regex=True).astype(float)    #Step13.1
print(price_in_float['item_price'])   #Step13.2

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [15]:
lambda_df = chipo.copy()
lambda_df['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace("$","")))   #Step13.3

In [16]:
print(lambda_df['item_price'])   #Step13.4

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [17]:
print("Total revenue is: ", (lambda_df['item_price'] * lambda_df['quantity']).sum())    #Step14

Total revenue is:  39237.02

In [18]:
print("Total order given is:", lambda_df['quantity'].sum())    #Step15

Total order given is: 4972

In [19]:
print("Average revenue per order is: ", (lambda_df['item_price'] * lambda_df['quantity']).mean())    #Step16

Average revenue per order is:  8.489186499350943

In [20]:
print("Ther were", most_ordr_item.count()[0] ,"different item sold")  #Step17

Ther were 50 different item sold